{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [{src_dirs, [src, intercepts]},
           {i, "deps/riak_test_core/src"},
           warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
        {riak_test_core, ".*", {git, "git://github.com/Licenser/riak_test_core", {branch, "master"}}}
       ]}.

{escript_incl_apps, [lager, getopt, kvc, riak_test_core, goldrush]}.
{escript_emu_args, "%%! +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.
{plugin_dir, "deps/riak_test/src"}.
{plugins, [rebar_riak_test_plugin]}.
{riak_test, [
    {test_paths, ["tests"]},
    {test_output, "ebin"}
]}.
